<!DOCTYPE html>
<html lang="en" th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
</head>
<body>
<div>
    <form action="/songs" method="post">
        <p>Album Number: </p><input type="number" name="albumNumber"/></br>
        <p>Title: </p><input type="text" name="title"/></br>

        <p>Length: </p><input type="number" name="length"/></br>
        <p>Track Number: </p><input type="number" name="trackNumber"/></br>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>