<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>Album</title>
</head>
<body>
<main><div class="navbar" >

    <ul class="nav navbar-nav">
        <li>
            <a class="navbar-brand" href="/">Home Page</a>
        </li>
        <li>
            <a class="navbar-brand" href="/hello">Hello Page</a>
        </li>
        <li>
            <a href="/capitalize/hello" >Capitalize</a>
        </li>
        <li>
            <a href="/getalbums" >Albums</a>
        </li>
        <li>
            <a href="/albums" >Add your Album</a>
        </li>
        <li>
            <a href="/existAlbums" >view Existing Album</a>
        </li>
    </ul>


</div>
</main>
<h1>Albums</h1>
<div th:each="album:${album}" class="album">
    <img th:src="@{${album.imageUrl}}"/>
    <p th:text="'Title:  '+'   '+${album.title}"></p>
    <p th:text="${'artist:  '+'  '+album.artist}"></p>
    <p th:text="${'songCount:  '+'  '+album.songCount}"></p>
    <p th:text="'sec:  '+'   '+${album.length}"></p>
    </div>
</div>

</body>
</html>