<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Albums</title>
</head>
<body>
<div class="albums">
    <tr th:each="Albums: ${album}">
        <td th:text="${Albums.title}"></td>
        <br>
        <td th:text="${Albums.artist}"></td>
        <br>
        <td th:text="${Albums.songCount}"></td>
        <br>
        <td th:text="${Albums.length}"></td>
        <br>
        <img th:src="${Albums.imageURL}"  src="image"/>
        <br>

    </tr>
</div>

</body>
</html>