<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Albums</title>
</head>

<body>
<main>
    <div class="navbar" >

    <ul class="nav navbar-nav">
        <li>
            <a class="navbar-brand" href="/">Home Page</a>
        </li>
        <li>
            <a class="navbar-brand" href="/hello">Hello Page</a>
        </li>
        <li>
            <a href="/capitalize/hello" >Capitalize</a>
        </li>
        <li>
            <a href="/getalbums" >Albums</a>
        </li>
        <li>
            <a href="/albums" >Add your Album</a>
        </li>
        <li>
            <a href="/existAlbums" >view Existing Album</a>
        </li>
    </ul>


</div>


<h1>Albums</h1>
    <div>
    <form action="/getAllAlbums" method="post">
        <label>Title</label>
        <input type="text" name="title" />
        <br/>
        <label>Artist</label>
        <input type="text" name="artist" />
        <br/>

        <label>Image URL</label>
        <input type="text" name="songCount" />
        <br/>

        <label>Length</label>
        <input type="number" name="length" />
        <br/>

        <label>Songs Count</label>
        <input type="number" name="ImageURL" />
        <br/>

        <input type="submit" value="submit">
    </form>
        </div>

    <div class="albums">

        <tr th:each="Albums: ${albums}">
            <td th:text="${Albums.title}"></td>
            <br>
            <td th:text="${Albums.artist}"></td>
            <br>
            <td th:text="${Albums.songCount}"></td>
            <br>
            <td th:text="${Albums.length}"></td>
            <br>
            <img th:src="${Albums.imageURL}"  src="image"/>
            <br>
        </tr>
    </div>
</div>
</main>
</body>
</html>