<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar" >

    <ul class="nav navbar-nav">
        <li>
            <a class="navbar-brand" href="/">Home Page</a>
        </li>
        <li>
            <a class="navbar-brand" href="/hello">Hello Page</a>
        </li>
        <li>
            <a href="/capitalize/hello" >Capitalize</a>
        </li>
        <li>
            <a href="/getalbums" >Albums</a>
        </li>
        <li>
            <a href="/albums" >Add your Album</a>
        </li>
        <li>
            <a href="/existAlbums" >view Existing Album</a>
        </li>
    </ul>


</div>

<div class="albums">
    <tr th:each="song: ${song}">
        <td th:text="${song.id}"></td>
        <br>
        <td th:text="${song.title}"></td>
        <br>
        <td th:text="${song.length}" />
        <br>
        <td th:text="${song.trackNumber}"></td>
        <br>


    </tr>
</div>


</body>
</html>